---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Counters from "../components/Counters.astro";
import CardsSection from "../components/CardsSection.astro";
import Promise from "../components/Promise.astro";
import Pricing from "../components/Pricing.astro";
import ContactSection from "../components/ContactSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title=" agency for building .">
    <main
        class="w-full min-h-[70vh] overflow-hidden lg:min-h-[90vh] justify-start items-center flex flex-col relative"
    >
        <div
            class="w-full h-[70vh] lg:min-h-[90vh] absolute left-0 top-0 -z-[1]"
        >
            <Image
                width={1920}
                height={1080}
                src="/hero.webp"
                class="object-cover w-full h-full"
                alt=""
                srcset=""
            />
        </div>
        <span
            class="w-full h-[70vh] lg:min-h-[90vh] absolute left-0 top-0 backdrop-blur-sm z-[1] bg-white/10"
        >
        </span>
        <div
            class="flex flex-col md:px-0 px-3 z-10 justify-start items-start gap-6 max-w-7xl mt-52"
        >
            <h2
                id="hero-title"
                class="text-3xl lg:text-5xl text-white capitalize"
            >
                Logiciels de Gestion Commerciale, Comptabilité et Bâtiment
                Conformes aux Normes Marocaines
            </h2>
            <p
                id="hero-description"
                class="text-slate-100 text-sm md:text-xl max-w-4xl"
            >
                EBP Maroc, votre partenaire de confiance pour des logiciels : de
                gestion commerciale, comptabilité et bâtiment, conformes aux
                normes marocaines. Simplifiez et optimisez la gestion de votre
                entreprise avec nos solutions innovantes, spécialement conçues
                pour répondre aux besoins des entreprises marocaines.
            </p>

            <button
                id="hero-button"
                class="bg-primary group text-sm hover:outline outline-primary/80 outline-offset-2 lg:text-base text-slate-100 px-6 py-3 flex gap-2 justify-center items-center rounded-full"
            >
                Découvrir nos solutions

                <svg
                    class="group-hover:ml-2 group-hover:-rotate-45 transition-all ease-in-out duration-500"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    fill="none"
                >
                    <path
                        d="M20.0001 11.9998L4.00012 11.9998"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </button>
        </div>
    </main>
    <Counters />
    <CardsSection />
    <Promise />
    <Pricing />
    <ContactSection />
    <Footer/>
</Layout>

<script
    defer
    src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"
></script>
<script>
    import Alpine from "alpinejs";
    // @ts-ignore
    import focus from "@alpinejs/focus";
    import intersect from "@alpinejs/intersect";
    Alpine.plugin(intersect);
    Alpine.plugin(focus);
    import gsap from "gsap";

    gsap.from("#hero-title", {
        y: 100,
        opacity: 0,
        duration: 1,
        delay: 0.5,
    });

    gsap.from("#hero-description", {
        y: 100,
        opacity: 0,
        duration: 1,
        delay: 1,
    });

    gsap.from("#hero-button", {
        y: 100,
        opacity: 0,
        duration: 1,
        delay: 1.5,
    });
</script>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

    body {
        font-family: "Onest", sans-serif;
    }
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #f97316;
    }
</style>
