---
const avatarUrls = [
  "https://avatars.githubusercontent.com/u/16860528",
  "https://avatars.githubusercontent.com/u/20110627",
  "https://avatars.githubusercontent.com/u/106103625",
  "https://avatars.githubusercontent.com/u/59228569",
];
---

<div class="z-10 flex -space-x-4 rtl:space-x-reverse">
    {
        avatarUrls.map((url, index) => (
            <img
                class="h-10 w-10 rounded-full border-2 border-white dark:border-gray-800"
                src={url}
                width={40}
                height={40}
                alt={`Avatar ${index + 1}`}
            />
        ))
    }
    <a
        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-white bg-black text-center text-xs font-medium text-white hover:bg-gray-600 dark:border-gray-800 dark:bg-white dark:text-black"
        href=""
    >
        +99
    </a>
</div>
