---
import Card from "./Card.astro";
---

<section
id="services"
class=" px-3  relative min-h-[30rem] bg-slate-900 flex-col w-full md:px-0 flex overflow-hidden justify-center items-center  mt-2"
>
<div class="grid absolute z-0 lg:grid-cols-3  w-full h-full max-w-7xl gap-2">
    <span class=" w-1  h-full border-l border-slate-700 border-dashed"></span>
    <span class=" w-1 h-full border-l border-slate-700 border-dashed"></span>
    <span class=" w-1 h-full border-l border-slate-700 border-dashed"></span>
</div>

<div class="grid  z-10 py-3  lg:grid-cols-3    w-full h-full max-w-7xl gap-2">
    <Card
        title="Gestion Commerciale"
        description="Gérez efficacement votre activité commerciale, de la facturation à la gestion des stocks, en passant par le suivi des commandes et des clients."
        image="/cards/card-1.webp"
        link="/gestion-commerciale"
    />
    <Card
        title="Comptabilité"
        description="Simplifiez la gestion de votre comptabilité, en conformité avec les normes marocaines, grâce à des outils intuitifs et performants. maîtrisez vos finances."
        image="/cards/card-2.webp"
        link="/comptabilite"
    />

    <Card
        title="Bâtiment"
        description="Optimisez la gestion de vos chantiers et de vos projets de construction, en suivant en temps réel l’avancement de vos travaux."
        image="/cards/card-3.webp"
        link="/batiment"
    />

</div>
</div>
</section>

<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    const cards = document.querySelectorAll(".card");

    cards.forEach((card, index) => {
        gsap.from(card, {
            scrollTrigger: {
                trigger: card,
                start: "top 80%",
            },
            y: 100,
            opacity: 0,
            duration: 1,
            delay: 0.3 * index,
        });
    });

</script>