---

 const { title, description, image } = Astro.props;
---
<div class="w-full justify-center items-center flex">

<article
aria-label="card"
class=" card col-span-1 max-w-80 aspect-square  lg:ml-2 rounded-md gap-3 bg-slate-50 border border-slate-400/35 p-3 flex flex-col  justify-center items-center overflow-hidden "
>
    <div class="w-full mx-auto  rounded-sm overflow-hidden  flex justify-center items-center">
     <img src={image} alt={title} class=" h-24" />
    </div>
    <div class=" w-full py-2 text-center">
        <h2 class="text-slate-800
        text-lg font-bold line-clamp-1">{title}</h2>
        <p class="text-slate-500 text-sm line-clamp-3">{description}</p>
       
    </div>
</article>
</div>