<div
    class="bg-white w-full  lg:min-w-[40rem] border border-slate-400/35 rounded-xl overflow-hidden lg:absolute -right-[30rem] -top-32 flex flex-col gap-3 justify-start items-start"
>
    <div
        class="w-full flex-col items-center mt-4 capitalize flex justify-center"
    >
        <h5 class="text-primary text-xl font-semibold leading-none text-center">
            Planifiez une consultation gratuite
        </h5>
        <hr class="w-full h-[1px] mt-4 bg-slate-400/35 rounded-full" />
    </div>
    <div class="flex w-full flex-col mt-5 p-6 gap-7 justify-start items-start">
        <div class="flex w-full gap-3 justify-start items-center flex-wrap">
            <div
                class="flex flex-col gap-2 justify-start items-start w-full lg:w-[48%]"
            >
                <label
                    class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="first-name"
                >
                    Prénom
                </label>
                <input
                    id="first-name"
                    placeholder="Entrez votre prénom"
                    class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                    type="text"
                />
                <span
                    id="first-name-error"
                    class="text-xs text-red-500"
                    class="text-xs text-red-500"
                >
                </span>
            </div>
            <div
                class="flex flex-col gap-2 justify-start items-start w-full lg:w-[48%]"
            >
                <label
                    class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="last-name"
                >
                    Nom de famille
                </label>
                <input
                    id="last-name"
                    placeholder="Entrez votre nom de famille"
                    class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                    type="text"
                />
                <span id="last-name-error" class="text-xs text-red-500"> </span>
            </div>
        </div>

        <div class="flex flex-col gap-2 justify-start items-start w-full">
            <label
                class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="company"
            >
                Entreprise / Organisation
            </label>
            <input
                id="company"
                placeholder="Entrez le nom de votre entreprise"
                class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                type="text"
            />
            <span id="company-error" class="text-xs text-red-500"> </span>
        </div>

        <div class="flex flex-col gap-2 justify-start items-start w-full">
            <label
                class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="company-email"
            >
                Email de l'entreprise
            </label>
            <input
                id="company-email"
                placeholder="Entrez l'email de votre entreprise"
                class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                type="text"
            />
            <span id="company-email-error" class="text-xs text-red-500"></span>
        </div>

        <div class="flex flex-col gap-2 justify-start items-start w-full">
            <label
                class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="phone-number"
            >
                Numéro de téléphone (+212)
            </label>
            <input
                id="phone-number"
                placeholder="Entrez votre numéro de téléphone"
                class="flex h-10 w-full rounded-md border border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
                type="text"
            />
            <span id="phone-number-error" class="text-xs text-red-500"> </span>
        </div>

        <div class="flex flex-col gap-2 justify-start items-start w-full">
            <label
                class="text-md font-semibold leading-none text-slate-600 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="message"
            >
                Message
            </label>
            <textarea
                id="message"
                placeholder="Entrez votre message"
                class="flex h-10 w-full rounded-md border min-h-32 border-slate-400/35 bg-transparent px-3 py-2 text-sm text-slate-600 transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:ring-2 focus-visible:ring-primary focus-visible:outline-none focus-visible:border-none disabled:cursor-not-allowed disabled:opacity-50"
            ></textarea>
            <span id="message-error" class="text-xs text-red-500"> </span>
        </div>

        <button
            id="submit"
            class="flex h-10 w-full lg:w-48 rounded-md bg-primary text-white text-sm font-semibold justify-center items-center"
        >
            Soumettre
        </button>
    </div>
</div>

<script>
    const firstNameInput = document.getElementById(
        "first-name",
    ) as HTMLInputElement;
    const lastNameInput = document.getElementById(
        "last-name",
    ) as HTMLInputElement;
    const companyInput = document.getElementById("company") as HTMLInputElement;
    const companyEmailInput = document.getElementById(
        "company-email",
    ) as HTMLInputElement;
    const phoneNumberInput = document.getElementById(
        "phone-number",
    ) as HTMLInputElement;
    const messageInput = document.getElementById("message") as HTMLInputElement;
    const submitButton = document.getElementById("submit");

    const firstNameError = document.getElementById(
        "first-name-error",
    ) as HTMLSpanElement;
    const lastNameError = document.getElementById(
        "last-name-error",
    ) as HTMLSpanElement;
    const companyError = document.getElementById(
        "company-error",
    ) as HTMLSpanElement;
    const companyEmailError = document.getElementById(
        "company-email-error",
    ) as HTMLSpanElement;
    const phoneNumberError = document.getElementById(
        "phone-number-error",
    ) as HTMLSpanElement;
    const messageError = document.getElementById(
        "message-error",
    ) as HTMLSpanElement;

    submitButton?.addEventListener("click", async (event) => {
        event.preventDefault();

        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const phoneRegex = /^\+?[1-9]\d{9,14}$/; // Matches +2121234567890 min 10 digits

        let hasError = false;

        // Clear previous error messages
        firstNameError.textContent = "";
        lastNameError.textContent = "";
        companyError.textContent = "";
        companyEmailError.textContent = "";
        phoneNumberError.textContent = "";
        messageError.textContent = "";

        if (!firstNameInput?.value) {
            firstNameError.textContent = "Veuillez entrer votre prénom.";
            hasError = true;
        }
        if (!lastNameInput?.value) {
            lastNameError.textContent = "Veuillez entrer votre nom de famille.";
            hasError = true;
        }
        if (!companyInput?.value) {
            companyError.textContent =
                "Veuillez entrer le nom de votre entreprise.";
            hasError = true;
        }
        if (!companyEmailInput?.value) {
            companyEmailError.textContent =
                "Veuillez entrer l'email de votre entreprise.";
            hasError = true;
        } else if (!emailRegex.test(companyEmailInput.value)) {
            companyEmailError.textContent =
                "Veuillez entrer une adresse email valide.";
            hasError = true;
        }
        if (!phoneNumberInput?.value) {
            phoneNumberError.textContent =
                "Veuillez entrer votre numéro de téléphone.";
            hasError = true;
        } else if (!phoneRegex.test(phoneNumberInput.value)) {
            phoneNumberError.textContent =
                "Veuillez entrer un numéro de téléphone valide (+212).";
            hasError = true;
        }
        if (!messageInput?.value || messageInput.value.length < 10) {
            messageError.textContent =
                "Le message doit contenir au moins 10 caractères.";
            hasError = true;
        }

        if (hasError) {
            return;
        }

        var loader = `<div class="flex justify-center items-center w-full h-full">
           <svg
           class="animate-spin h-5 w-5 text-white"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"  fill="none">
    <path d="M12 3V6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
    <path d="M12 18V21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
    <path d="M21 12L18 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
    <path d="M6 12L3 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
    <path d="M18.3635 5.63672L16.2422 7.75804" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
    <path d="M7.75804 16.2422L5.63672 18.3635" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
    <path d="M18.3635 18.3635L16.2422 16.2422" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
    <path d="M7.75804 7.75804L5.63672 5.63672" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
</svg>
<span class="text-white ml-2">Envoi en cours...</span>
            </div>`;
        submitButton.innerHTML = loader;
        const data = await fetch("/api/contact.json", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                firstName: firstNameInput.value,
                lastName: lastNameInput.value,
                company: companyInput.value,
                companyEmail: companyEmailInput.value,
                phoneNumber: phoneNumberInput.value,
                message: messageInput.value,
            }),
        });

        submitButton.innerHTML = "Soumettre";

        if (data.ok) {
            // Clear the form and show a success message
            firstNameInput.value = "";
            lastNameInput.value = "";
            companyInput.value = "";
            companyEmailInput.value = "";
            phoneNumberInput.value = "";
            messageInput.value = "";

            // Show a success message, e.g., in a notification area
            alert("Votre message a été envoyé avec succès");
        } else {
            // Show an error message in a notification area
            alert("Une erreur est survenue lors de l'envoi de votre message");
        }
    });
</script>
