---
---

<div
    class="min-h-[30rem] bg-white flex justify-center items-start md:items-center px-3 w-full"
>
    <section class="grid gap-12 max-w-7xl md:grid-cols-3 md:gap-16">
        <article>
            <div
                class="w-14 h-14 rounded shadow-md bg-white flex justify-center items-center rotate-3 mb-6"
            >
                <svg
                    class="text-slate-700"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    fill="none"
                >
                    <path
                        d="M20.3068 15.3312C16.7859 18.8521 11.1336 18.908 7.61276 15.3872C4.09192 11.8663 4.14799 6.21408 7.66883 2.69323M20.3068 15.3312C21.9837 13.6543 20.5139 9.46584 17.0241 5.97596C13.5342 2.48608 9.34571 1.01635 7.66883 2.69323M20.3068 15.3312C18.6299 17.0081 14.4414 15.5384 10.9516 12.0485M7.66883 2.69323C5.99196 4.37011 7.46169 8.55859 10.9516 12.0485M10.9516 12.0485L14 9"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M6.48804 15L4.75106 17.4884C3.3523 19.4923 2.65291 20.4942 3.17039 21.2471C3.68787 22 5.07589 22 7.85193 22H12.1481C14.9241 22 16.3121 22 16.8296 21.2471C17.301 20.5612 16.7625 19.6686 15.6053 18"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </div>
            <h2>
                <span
                    class="flex tabular-nums text-slate-900 text-5xl font-extrabold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]"
                    x-data="{ shown: false }"
                    x-intersect="shown = true"
                    :class="shown && '[--num:40]'"
                >
                    <span class="supports-[counter-set]:sr-only">40</span>K+
                </span>
                <span
                    class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary/60 mb-2"
                    >Variations</span
                >
            </h2>
            <p class="text-sm text-slate-500">
                Many desktop publishing packages and web page editors now use
                Pinky as their default model text.
            </p>
        </article>
        <!-- Block #2 -->
        <article>
            <div
                class="w-14 h-14 rounded shadow-md bg-white flex justify-center items-center -rotate-3 mb-6"
            >
                <svg
                    class="text-slate-700"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    fill="none"
                >
                    <path
                        d="M17.7341 17.7341C22.2582 13.21 23.3585 6.97526 20.1916 3.80838C17.6271 1.24383 13.0506 1.4776 9 4.06186M3.80838 20.1916C6.28643 22.6697 10.6429 22.535 14.5884 20.1916M6.26587 6.26587C2.97995 9.55179 1.50022 13.7401 2.14979 17"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"></path>
                    <path
                        d="M16.915 7.08503C15.0148 5.18491 11.274 5.84506 8.55952 8.55952C5.84506 11.274 5.18491 15.0148 7.08503 16.915C8.98515 18.8151 12.726 18.1549 15.4405 15.4405C17.0895 13.7915 17.9803 11.7638 17.9997 10"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"></path>
                    <path
                        d="M13.6383 10.3617C14.2717 10.9951 14.0516 12.242 13.1468 13.1468C12.242 14.0516 10.9951 14.2717 10.3617 13.6383C9.7283 13.0049 9.94835 11.758 10.8532 10.8532C11.758 9.94835 13.0049 9.7283 13.6383 10.3617Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"></path>
                </svg>
            </div>
            <h2>
                <span
                    class="flex tabular-nums text-slate-900 text-5xl font-extrabold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]"
                    x-data="{ shown: false }"
                    x-intersect="shown = true"
                    :class="shown && '[--num:70]'"
                >
                    <span class="supports-[counter-set]:sr-only">70</span>K+
                </span>
                <span
                    class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary/60 mb-2"
                    >Lessons</span
                >
            </h2>
            <p class="text-sm text-slate-500">
                Many desktop publishing packages and web page editors now use
                Pinky as their default model text.
            </p>
        </article>
        <!-- Block #3 -->
        <article>
            <div
                class="w-14 h-14 rounded shadow-md bg-white flex justify-center items-center rotate-3 mb-6"
            >
                <svg
                    class="text-slate-700"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    fill="none"
                >
                    <path
                        d="M15.0014 9.98894C15.0014 11.6432 13.6596 12.9841 12.0043 12.9841C10.349 12.9841 9.0072 11.6432 9.0072 9.98894C9.0072 8.33474 10.349 6.99374 12.0043 6.99374C13.6596 6.99374 15.0014 8.33474 15.0014 9.98894Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"></path>
                    <path
                        d="M11.9945 16.9777H12.0035"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M20.496 2.00174C20.3294 2.9003 19.497 4.75732 17.4989 4.99693"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"></path>
                    <path
                        d="M3.51257 2.00174C3.67908 2.9003 4.5116 4.75732 6.50965 4.99693"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"></path>
                    <path
                        d="M8.84021 3.69349C5.58633 5.14195 4.44413 8.62401 4.52092 10.4658C3.3979 10.389 2.0227 10.5148 2.00157 11.9509C1.98043 13.387 3.46509 13.6409 4.52092 13.4682V19.8759C4.53861 20.4063 4.58624 21.1002 5.13522 21.3436C6.41182 21.9095 7.48685 20.1925 8.6549 20.2712C9.56297 20.3324 10.8774 22.0907 12.0332 21.9945C13.3719 21.883 14.4022 20.2767 15.4258 20.2767C16.6397 20.2767 16.8523 21.2774 18.314 21.4367C19.4042 21.5556 19.515 20.516 19.515 19.9564V13.4802C21.4043 13.7145 22.1531 12.8775 21.9725 11.6986C21.7595 10.3074 20.1259 10.4067 19.4757 10.4956C19.5768 9.46112 19.1104 8.15549 18.909 7.64373C18.6122 6.73267 17.3925 4.57907 14.7721 3.51122C12.1516 2.44338 9.71367 3.23306 8.84021 3.69349Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </div>
            <h2>
                <span
                    class="flex tabular-nums text-slate-900 text-5xl font-extrabold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]"
                    x-data="{ shown: false }"
                    x-intersect="shown = true"
                    :class="shown && '[--num:149]'"
                >
                    <span class="supports-[counter-set]:sr-only">149</span>+
                </span>
                <span
                    class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary/60 mb-2"
                    >Workshops</span
                >
            </h2>
            <p class="text-sm text-slate-500">
                Many desktop publishing packages and web page editors now use
                Pinky as their default model text.
            </p>
        </article>
    </section>
</div>


<style
>
@property --num {
        syntax: '<integer>';
        initial-value: 0;
        inherits: false;
}
</style>
