---
const plans = [
  {
    name: "Croissance",
    features: [
      "Nombre d'Utilisateurs: Jusqu'à 5",
      "Gestion des Prospect: Basique",
      "Base de Donnée: Centralisée",
      "Tableau de Bord: Simplifié",
      "Support Client: Basique (Email)",
      "Rapports: Standards",
      "Notifications en Temps Réel: Non Inclus",
      "Formation et Onboarding: Non Inclus",
      "Contrôle Administratif: Basique"
    ],
    target: "Small businesses and startups looking to gain data insights"
  },
  {
    name: "Expansion",
    features: [
      "Nombre d'Utilisateurs: 5 à 10",
      "Gestion des Prospect: Avancée",
      "Base de Donnée: Avancée",
      "Tableau de Bord: Personnalisable",
      "Support Client: Prioritaire (24h)",
      "Rapports: Avancés",
      "Notifications en Temps Réel: Inclus",
      "Formation et Onboarding: Non Inclus",
      "Contrôle Administratif: Avancé"
    ]
  },
  {
    name: "Performance",
    features: [
      "Nombre d'Utilisateurs: Plus de 10",
      "Gestion des Prospect: Complète",
      "Base de Donnée: Illimitée",
      "Tableau de Bord: Sur-Mesure",
      "Support Client: Dédié (24/7)",
      "Rapports: Personnalisés",
      "Notifications en Temps Réel: Inclus",
      "Formation et Onboarding: Inclus Contrôle Administratif: Complet",
    ]
  }
];

---

<section
    class="w-full max-w-7xl flex flex-col gap-3 justify-center items-center mx-auto px-4 py-12"
    id="pricing"
>
    <h2
        class="bg-slate-100 border border-slate-400/35 px-3 py-1 rounded-full w-fit font-bold text-center text-primary"
    >
        Plans et Tarifs
    </h2>

    <div class="w-full grid grid-cols-3 max-w-5xl gap-3 mt-3">
       {plans.map((plan, index) => (
                <article
            class="flex flex-col px-3 py-6 pb-10 relative justify-start items-center gap-3 rounded-xl border border-slate-400/35"
        >
            <h3 class="text-xl font-bold text-slate-800">
                {plan.name}
            </h3>

            <div
                class="flex mt-5 flex-col gap-6 justify-start items-start w-full"
            >
                {plan.features.map((feature, index) => (
                    <div class="flex gap-2 justify-start items-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="24"
                        height="24"
                        class=" text-secondary-first"
                        fill="none"
                    >
                        <path
                            d="M5 14L8.5 17.5L19 6.5"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>

                    <p class="text-sm text-slate-500">
                        {feature}
                    </p>
                </div>
                ))}
            </div>
        </article>
        ))}

    </div>
</section>
