---
import Header from '../components/Header.astro';
import SideBar from '../components/SideBar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Découvrez Lymo, votre partenaire pour la gestion et l'analyse avancée des données d'entreprise. Profitez d'une base de données centralisée, d'une interface intuitive, et de rapports personnalisés pour booster la performance de votre entreprise. Contactez-nous pour une démonstration et passez au niveau supérieur." />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        
		<title>{title}</title>
	</head>
	<body
    class=" w-full min-h-screen relative bg-white flex flex-col gap-3 justify-start items-center "
    >
    <SideBar/>
    <Header/>
		<slot />
	</body>
</html>

